body{
    overflow: hidden;
    background-color:	#F0F0F0;
    font-family: 'candara';
    padding: 100px;
    padding-top: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.chart-controls-container{
    width: 200px;
}

.chart-controls{
    width: 15vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    text-align: center;
}

.chart-controls:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.chart-controls-title{
    font: 600 1em 'candara'; 
}

.chart-container{
    width: 100vw;
    height: 100vh;
}

.recharts-pie-sector{
    cursor: pointer;
}

.custom-tooltip{
    opacity: 0.8;
    background: #F8F8F8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.custom-tooltip ul{
    padding-left: 0;
    list-style-type: none;
}

.custom-tooltip li{
    margin-bottom: 5px;
}

.tooltip-head{
    font-weight: bold;
}

.no-data{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font: 600 2em 'candara';
}